/* styles.css */

/* Reset some default browser styles */
body, header, main, footer {
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    padding: 20px;
}