<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Page</title>
    <link rel="stylesheet" href="../static/css/404.css">
  </head>
  <body>
    <img class="sign" src="../static/404page/404sign.PNG" alt="image indicating 404 page">
    <div class="notfound">
      PAGE NOT FOUND<br>
    </div>
    <a href="/login-register/">
      <img class="tohome_button" src="../static/404page/backhome_button.PNG" alt="a button link to home page">
    </a>
  </body>
</html>
