<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Create Your Wordle Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create_game.css') }}">
</head>   

<body   
    <nav>
        <ul style="list-style-type: none; display: flex;">
            <li class="nav-home"><a href="#"><img src="{{ url_for('static', filename='website_name_icon.png') }}" alt="Home Page"></a></li>
            <li class="nav-button"><a href="#"><img src="{{ url_for('static', filename='navigation/nav_puzzle.png') }}" alt="Puzzle"></a></li>
            <li class="nav-button"><a href="#"><img src="{{ url_for('static', filename='navigation/nav_score.png') }}" alt="Score"></a></li>
            <li class="nav-button"><a href="#"><img src="{{ url_for('static', filename='navigation/nav_create.png') }}" alt="Create"></a></li>
            <li class="nav-button"><a href="#"><img src="{{ url_for('static', filename='navigation/nav_profile.png') }}" alt="Profile"></a></li>
        </ul>
    </nav>
    <header>
        <h1>Create Your Wordle Game</h1>
    </header>
    <div class="content">
        <form action="/create_game" method="post">
            <label for="form_game_name">Please give a unique name for your wordle game:</label>
            <input type="text" name="form_game_name" placeholder="Please use letters and numbers" required><br><br>

            <label for="form_wordle_solution">Please type in the correct Wordle solution:</label>
            <input type="text" name="form_wordle_solution" placeholder="Please use a real word" required><br><br>

            <label for="form_number_of_attempts">How many attempts are allowed for your Wordle game:</label>
            <input type="number" name="form_number_of_attempts" placeholder="Please use a number" required><br><br>

            <button type="submit">Submit and Create</button>
        </form>
    </div>
</body>
</html>

