<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login and Register Page</title>
    <link rel="stylesheet" href="../static/login_register.css" />
  </head>
  <body>
    <img
      id="background_login"
      src="../static/loginpage/BACKGROUND-PIC.png"
      alt="background picture with coconut tree, cloud and sea"
    />
    <img
      class="website_name"
      src="../static/loginpage/website name.png"
      alt="website name: wordle game"
    />
    <img
      class="login_button"
      src="../static/loginpage/LOGIN.png"
      alt="login button"
    />
    <img
      class="signup_button"
      src="../static/loginpage/SIGNUP.png"
      alt="Sign up button"
    />
    <img
      class="guest_button"
      src="../static/loginpage/GUEST.png"
      alt="guest button"
    />
    <img class="cat_image" src="../static/loginpage/CAT.png" alt="a gray cat" />
  </body>
</html>
