<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <link rel="stylesheet" href="../static/css/profile.css" />
  </head>
  <body>
    <header>
      <nav>
        <img  class="website_name"
          src="../static/website_name_icon.png"
          alt="Wordle Game website Logo"
        />
        <ul>
          <li>
            <a href="puzzle_list.html"
              ><img src="../static/navigation/nav_puzzle.PNG" alt="Puzzle"
            /></a>
          </li>
          <li>
            <a href="#score"
              ><img class="icon_score"  src="../static/navigation/nav_score1.PNG" alt="Score"
            /></a>
          </li>
          <li>
            <a href="#create"
              ><img src="../static/navigation/nav_create.PNG" alt="Create"
            /></a>
          </li>
          <li>
            <a href="profile.html"
              ><img src="../static/navigation/nav_profile.PNG" alt="Profile"
            /></a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="username-section">
      <span id="username">Username</span>
  </div>
    </div>
    <div class="content">
      <div class="panel" id="solved">
        <h2>Solved Puzzle</h2>
      </div>
      <div class="panel" id="create-puzzle">
        <h2>Create Puzzle</h2>
      </div>
      <div class="panel" id="score">
        <h2>Score</h2>
      </div>
    </div>
    <footer>
      Created By: Aji, Chuanrui, Paskah, Yuxin
    </footer>
  </body>
</html>
