body {
    position: relative; /* Set the body as a relative positioning context */
    margin: 0; /* Resetting default margin */
}

footer {
    position: fixed;
    bottom: 0; /* Align the bottom edge of the footer with the bottom edge of the body */
    left: 0; /* Align the left edge of the footer with the left edge of the body */
    width: 100%; /* Make the footer stretch the entire width */
    background-color: #d1e6ff;
    color: rgb(0, 0, 0);
}