body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("../loginpage/BACKGROUND-PIC.png");
  background-size: cover;
  background-position: relative; /**invalid**/
}

header {
  font-family: "Comic Sans MS", sans-serif;
  width: 60%;
  margin: 120px auto 0;
  font-size: 2em;
  color: #3b72ff;
  background-color: transparent;
  padding: 10px;
  text-align: center;
}
/* Question: why Nesting an ID selector inside another selector, this is not a CSS style, it's a function of SASS/LESS.
   I just seperate these ID selector from "header". */

#searchInput {
  font-size: 1em;
  width: 100%;
  padding: 8px;
}

#searchInput::placeholder {
  font-size: 1em;
  color: #bcbaba;
}

.wooden {
  background-image: url("../static/leaderboard/wooden_frame.png");
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  text-align: center;
}

.wooden h1 {
  margin-top: 100px;
  line-height: 1.5;
}

.wooden ul {
  list-style: none;
  padding: 0;
}
